*.o
config.status
config.cache
config.log

# generated binaries/scripts and generated makefiles
src/acomp/makefile
src/align2html/align2html.pl
src/align2html/makefile
src/asclite/core/asclite
src/asclite/core/makefile
src/asclite/test/asclite_test
src/asclite/test/makefile
src/chfilt/makefile
src/csrfilt/makefile
src/ctmValidator/makefile
src/def_art/makefile
src/hamzaNorm/makefile
src/hubscr/makefile
src/md-eval/makefile
src/mergectm2rttm/makefile
src/rfilter1/makefile
src/rfilter1/rfilter1
src/rttm2ctm/makefile
src/rttmSmooth/makefile
src/rttmSort/makefile
src/rttmValidator/makefile
src/sclite/makefile
src/sclite/rover
src/sclite/sc_stats
src/sclite/sclite
src/sclite/sctkUnit
src/slatreport/makefile
src/spkr2sad/makefile
src/stm2rttm/makefile
src/stmValidator/makefile
src/stmValidator/stmValidator.pl
src/tanweenFilt/makefile
src/utf_filt/makefile

